node_modules
ios/RCTContacts.xcodeproj/xcuserdata
ios/RCTContacts.xcodeproj/project.xcworkspace

# Intellij
.idea

.npm-debug.log
*.log
### Gradle ###
.gradle
gradle
gradlew
gradlew.bat
local.properties
.idea
